@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700)
@import bourbon/bourbon
@import bitters/base
@import neat/neat
@import client/stylesheets/patterns/sheet
@import client/stylesheets/patterns/utility
@import client/stylesheets/patterns/inputs
@import client/stylesheets/patterns/navbar
@import client/stylesheets/patterns/avatar

html, body
  margin: 0
  padding: 0
  background-color: #FAFAFA
  font-family: Roboto, sans-serif
  font-size: 14px

.app-container
  @include outer-container

$badge-font-size: 0.75em !default
$medium-gray: #999 !default
$alert-color: #fff6bf !default
$error-color: #fbe3e4 !default
$notice-color: #e5edf8 !default
$success-color: #e6efc2 !default

@mixin badge($color: $medium-gray)
  background-color: $color
  border-radius: $badge-font-size * 5
  color: darken($color, 60%)
  display: inline-block
  font-size: $badge-font-size
  line-height: 1
  padding: 0.4em 1.2em
  margin-right: 5px

.badge
  @include badge
